body 
{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 16px; 
    line-height: 24px;
    letter-spacing: 2%;
}

a
{
    text-decoration: none; 
}

h1
{
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 2%;
}

h2
{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 2%;
}

h3
{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2%;
}

.logo
{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-second-word 
{
    color: #2E2F42;

}

.header-menu-link
{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 2%;
    color: #2E2F42;
}

.header-menu-link:focus,
.header-menu-link:hover
{
    color: #404BBF;
}

.header-contact-link
{
    font-style: normal;
    color: currentColor;
}

.header-contact-link:hover,
.header-contact-link:focus
{
    color: #404BBF;
}
 
.introduction-banner
{
    color: #FFFFFF;
    background: #2E2F42;
}

.introduction-banner button
{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 4%;
    color: #FFFFFF;
    background: #4D5AE5;
    cursor: pointer;
}

.introduction-banner button:hover
{
    background: #404BBF;
}

.footer-slogan
{
    color: #F4F4FD;
    background: #2E2F42;
}